In [1]:
import requests
import pandas as pd
import numpy as np

def getDataCentral(path, filename, ext = ".xls"):
    '''
    Funcion para descargar data del Banco central
    
    path: ruta del documento a descargar
    filename: nombre del archivo a grabar la data descargada
    ext: la extencion del archivo. Por lo general los del banco central son '.xls' 
    
    TODO: Falta poner que se descarguen en la carpeta de data
    
    '''
    resp = requests.get(path)
    
    with open(filename + ext, "wb") as output:
        output.write(resp.content)

def formatoData(nombre):
    if nombre == "IPC":
        nombres_ipc = ["periodo", "mes", "indice", "var_menusal", "var_dic","var_12_meses", "promedio"]
        ipc = pd.read_excel("IPC.xls", skiprows = 5, names = nombres_ipc, usecols = [0, 1, 2, 3, 4, 5, 6], skipfooter = 1)

        ipc = ipc.dropna(how = "all").head()

        ipc["periodo"] = ipc["periodo"].fillna(method="ffill")

        return ipc.to_csv("{}_clean.csv".format(nombre), index = False)
    
    elif nombre == "TPM":
        nombres_tpm = ["periodo", "Mes", "tasa_politica","facilidades_depositos", "facilidades_prestamo", "facilidades_lombarda"]
        
        tpm = pd.read_excel("TPM.xls",skiprows = 5, names = nombres_tpm, skipfooter = 1)

        tpm['periodo'] = tpm['periodo'].fillna(method='ffill')
        
        return tpm.to_csv("{}_clean.csv".format(nombre), index = False)
    
    elif nombre == "agregados_monetarios":
        
        nombre_agregados = ["ano","mes","billetes_monedas","depositos_transferibles"]
        
        agregados_monetarios = pd.read_excel("agregados_monetarios.xls", skiprows = 11, usecols = [0,1,2,3], names = nombre_agregados, skipfooter = 4)

        agregados_monetarios = agregados_monetarios.dropna(how = "all")
        
        return agregados_monetarios.to_csv("{}_clean.csv".format(nombre), index = False)
    
    elif nombre == "tasas_todas":
        
        tasa_cambio_todas = pd.read_excel("tasa_cambio_todas.xls", skiprows = 2)
        
        return tasa_cambio_todas.to_csv("{}_clean.csv".format(nombre), index = False)
    
    elif nombre == "tasa_dolar":
        
        tasa_dolar = pd.read_excel("tasa_dolar.xls", skiprows = 2)

        return tasa_dolar.to_csv("{}_clean.csv".format(nombre), index = False)
    
    elif nombre == "PIB":
        PIB = pd.read_excel("PIB.xls", skiprows = 5, skipfooter = 20, header = [1,2])

        PIB = PIB.dropna(how = "all").stack().reset_index().melt(id_vars = ["level_0", "level_1"])

        PIB.rename(columns={'level_0': 'componente', 'level_1': 'trimestre', 'COMPONENTES':'periodo'}, inplace=True)

        PIB.dropna(inplace = True)
        
        return PIB.to_csv("{}_clean.csv".format(nombre), index = False)

In [2]:
documentos = {"PIB": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/sector-real/documents/pib_gasto_2007.xls",
              "IPC": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/precios/documents/ipc_base_2010.xls",
              "TPM": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/sector-monetario-y-financiero/documents/Serie_TPM.xlsx",
              "tasa_dolar": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/mercado-cambiario//documents//TASA_DOLAR_REFERENCIA_MC.XLS",
              "tasa_cambio_todas": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/mercado-cambiario//documents//TASAS_CONVERTIBLES_OTRAS_MONEDAS.xls",
              "agregados_monetarios": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/sector-monetario-y-financiero/documents/agregados_monetarios.xls",
              "reservas_internacionales": "https://gdc.bancentral.gov.do/Common/public/estad%C3%ADsticas/sector-externo/documents/reservas_internacionales.xls"}

In [3]:
for filename, path in documentos.items():
    getDataCentral(path, filename)

In [4]:
archivos = [ "IPC", "TPM", "tasa_dolar", "tasa_cambio_todas", "agregados_monetarios", "PIB"]

In [5]:
for i in archivos:
    formatoData(i)

In [163]:
df = pd.read_excel("reservas_internacionales.xls", skiprows = 6, skipfooter = 5, usecols = list(range(0,36))).dropna(how = 'all')

df = df.melt(id_vars = "MES")

df['variable'] = df['variable'].replace('Unnamed*', np.nan, regex = True).fillna(method='ffill')

df

            MES  variable   value
0           NaN    1985.0  BRUTAS
1        ENERO     1985.0     255
2       FEBRERO    1985.0     273
3         MARZO    1985.0   312.7
4         ABRIL    1985.0   320.3
5          MAYO    1985.0   232.3
6         JUNIO    1985.0   287.5
7         JULIO    1985.0   292.7
8        AGOSTO    1985.0     278
9    SEPTIEMBRE    1985.0   222.3
10      OCTUBRE    1985.0   205.7
11    NOVIEMBRE    1985.0   229.4
12    DICIEMBRE    1985.0   397.2
13          NaN    1985.0   NETAS
14       ENERO     1985.0  -381.1
15      FEBRERO    1985.0  -358.8
16        MARZO    1985.0  -345.7
17        ABRIL    1985.0  -325.7
18         MAYO    1985.0  -356.9
19        JUNIO    1985.0  -285.7
20        JULIO    1985.0  -290.1
21       AGOSTO    1985.0  -309.4
22   SEPTIEMBRE    1985.0  -310.1
23      OCTUBRE    1985.0  -360.3
24    NOVIEMBRE    1985.0  -348.2
25    DICIEMBRE    1985.0    -248
26          NaN    1986.0  BRUTAS
27       ENERO     1986.0   272.2
28      FEBRERO    1986.0     264
29        MARZO    1986.0   257.3
..          ...       ...     ...
425  SEPTIEMBRE    2001.0  1337.8
426     OCTUBRE    2001.0  1257.8
427   NOVIEMBRE    2001.0  1207.1
428   DICIEMBRE    2001.0  1340.8
429         NaN    2001.0   NETAS
430      ENERO     2001.0   332.6
431     FEBRERO    2001.0   316.7
432       MARZO    2001.0     373
433       ABRIL    2001.0   423.1
434        MAYO    2001.0   460.4
435       JUNIO    2001.0   502.7
436       JULIO    2001.0   507.5
437      AGOSTO    2001.0   528.5
438  SEPTIEMBRE    2001.0   995.9
439     OCTUBRE    2001.0   927.9
440   NOVIEMBRE    2001.0   892.5
441   DICIEMBRE    2001.0   962.2
442         NaN    2002.0  BRUTAS
443      ENERO     2002.0  1266.7
444     FEBRERO    2002.0  1110.8
445       MARZO    2002.0    1101
446       ABRIL    2002.0  1124.5
447        MAYO    2002.0  1109.6
448       JUNIO    2002.0    1097
449       JULIO    2002.0  1070.8
450      AGOSTO    2002.0   980.4
451  SEPTIEMBRE    2002.0   848.5
452     OCTUBRE    2002.0     786
453   NOVIEMBRE    2002.0   739.4
454   DICIEMBRE    2002.0   828.9

[455 rows x 3 columns]

In [9]:
df = pd.read_excel("reservas_internacionales.xls", skiprows = 6, skipfooter = 5, usecols = 'A,AL:CG').dropna(how = 'all')

df = df.melt(id_vars = "MES")

df['variable'] = df['variable'].replace('Unnamed*', np.nan, regex = True).fillna(method='ffill')

df

            MES variable      value
0           NaN     2003    ACTIVOS
1           NaN     2003     BRUTOS
2        ENERO      2003      784.5
3       FEBRERO     2003      875.5
4         MARZO     2003      842.6
5         ABRIL     2003      803.4
6          MAYO     2003      786.7
7         JUNIO     2003      716.4
8         JULIO     2003      583.1
9        AGOSTO     2003      508.7
10   SEPTIEMBRE     2003      520.8
11      OCTUBRE     2003      487.4
12    NOVIEMBRE     2003      506.2
13    DICIEMBRE     2003      489.2
14          NaN     2003   RESERVAS
15          NaN     2003  BRUTAS 1/
16       ENERO      2003      583.3
17      FEBRERO     2003      674.4
18        MARZO     2003        638
19        ABRIL     2003      597.7
20         MAYO     2003      578.5
21        JUNIO     2003      513.8
22        JULIO     2003      380.7
23       AGOSTO     2003      306.5
24   SEPTIEMBRE     2003      315.2
25      OCTUBRE     2003      281.4
26    NOVIEMBRE     2003      299.3
27    DICIEMBRE     2003      279.4
28          NaN     2003        NaN
29          NaN     2003      NETAS
..          ...      ...        ...
642   NOVIEMBRE     2018        NaN
643   DICIEMBRE     2018        NaN
644         NaN     2018   RESERVAS
645         NaN     2018  BRUTAS 1/
646      ENERO      2018    6806.46
647     FEBRERO     2018    8050.34
648       MARZO     2018    7577.22
649       ABRIL     2018    7202.81
650        MAYO     2018    6911.43
651       JUNIO     2018    6598.43
652       JULIO     2018        NaN
653      AGOSTO     2018        NaN
654  SEPTIEMBRE     2018        NaN
655     OCTUBRE     2018        NaN
656   NOVIEMBRE     2018        NaN
657   DICIEMBRE     2018        NaN
658         NaN     2018        NaN
659         NaN     2018   NETAS 2/
660      ENERO      2018    6803.98
661     FEBRERO     2018    8050.15
662       MARZO     2018     7576.8
663       ABRIL     2018    7202.18
664        MAYO     2018    6911.19
665       JUNIO     2018    6597.96
666       JULIO     2018        NaN
667      AGOSTO     2018        NaN
668  SEPTIEMBRE     2018        NaN
669     OCTUBRE     2018        NaN
670   NOVIEMBRE     2018        NaN
671   DICIEMBRE     2018        NaN

[672 rows x 3 columns]